<!DOCTYPE html>
       <html>
         <head>
           <title>It's title</title>
         </head>
         <body>
         <h1>this is ejs mate</h1>
           <section>
             <%-body -%>
           </section>

       </body>
      </html>